/* Base hover class for the card */
.card-task-hover {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  cursor: pointer;
}

/* Hover effect for each priority level with lighter colors */
.card-task-hover.priority-low:hover {
  background-color: rgba(150, 243, 171, 0.5) !important;
  border-color: rgba(40, 167, 69, 0.5) !important;
}

.card-task-hover.priority-medium:hover {
  background-color: rgba(235, 212, 146, 0.5) !important;
  border-color: rgba(255, 193, 7, 0.5) !important;
}

.card-task-hover.priority-high:hover {
  background-color: rgba(223, 182, 150, 0.5) !important;
  border-color: rgba(253, 126, 20, 0.5) !important;
}

.card-task-hover.priority-urgent:hover {
  background-color: rgba(238, 169, 176, 0.5) !important;
  border-color: rgba(202, 16, 34, 0.5) !important;
}

/* Optional: To ensure all nested elements also change color for better readability on hover */
.card-task-hover.priority-low:hover *, 
.card-task-hover.priority-high:hover *, 
.card-task-hover.priority-urgent:hover*,
.card-task-hover.priority-medium:hover * {
  color: white !important;
}
